# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
ios/Pods/
ios/Podfile.lock
android/.gradle/
android/local.properties
android/app/debug.keystore
*.iml
.idea/
.vscode/
.DS_Store

# Don't commit API keys
*.env
.env
